body{
    background: linear-gradient(to bottom, rgb(195, 221, 231),rgb(5, 63, 73)) center no-repeat;
    min-height: 700px;
}

h2{
    text-align: center;
}
p{
    margin-top: 0;
    margin-bottom: 5px;
}

.store__container{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.store__inner{
    h1{
        text-align: center;
    }
}

.store__flexbox{
    display: flex;
    justify-content: space-between;
    .shopping__cart{
        width: 49%;
        

    .shoppingCart__items{
        .clearAll__btn{
                margin-right: 10px;
            }
        .shoppingCart__item{
            border: 1px solid #000;
            margin-bottom: 10px;
           /*  &--inc,
            &--dec{
                cursor: pointer;
            } */
            
            
            p{
        
                
                span{
                    font-size: 16px;
                }
            }
        }
    }
        
    }

    .product__items{
        width: 49%;
    }
    
}

.product__item{
    border: 1px solid #000;
    margin-bottom: 10px;
}


.quantity{
    display: flex;
}
.count{
    background: rgb(193, 236, 252);
    width: 20px;
    text-align: center;
    border-radius: 5px;
}

.productsAmount{
    display: flex;
    align-items: center;
}


