
p{
    margin-top: 0;
    margin-bottom: 5px;
}

.store__container{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.store__inner{
    h1{
        text-align: center;
    }
}

.store__flexbox{
    display: flex;
    justify-content: space-between;
    .shopping__cart{
        width: 49%;
        

    .shoppingCart__items{
        .clearAll__btn{
                margin-right: 10px;
            }
        .shoppingCart__item{
            border: 1px solid #000;
            margin-bottom: 10px;
            &--inc,
            &--dec{
                cursor: pointer;
            }
            
            
            p{
        
                
                span{
                    font-size: 18px;
                }
            }
        }
    }
        
    }

    .product__items{
        width: 49%;
    }
    
}

.product__item{
    border: 1px solid #000;
    margin-bottom: 10px;
}



